
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  height: 100vh;
  overflow: hidden;
}

header{
  background: linear-gradient(90deg, #38b6ff, #32ff7e);
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;

  z-index: 10;

}


main{
  height: 100vh;
  width: 100%;
  padding: 100px;
}


.table-container {
  width: 75%; /* Adjust this percentage as needed */
  margin: 0 auto; /* Center the table */
}


.section-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  margin: 10px;
  text-align: center;
}

.section-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-card {
  animation: fadeInUp 0.6s ease-in-out;
}

/* Button Styling */
.btn-custom {
  background-color: #32ff7e;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #38b6ff;
}


footer {
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, #38b6ff, #32ff7e);
  color: white;
  padding: 15px;
  text-align: center;
}
